/*p,h1{

    color: rgb(55, 63, 70);
}*/
p.idiotez{
    color: aqua;
}
p.tonteria{
    color: black;
}
p.tonteria2{
    color: blueviolet;
}
.hilo{
    color:cadetblue;
}
.color2{color: aqua;}
.fondo2{
    background-color: brown;
}